<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="senderLocator" type=" MySynch.Q.Sender.Configurator.Configuration.SenderLocatorSection,  MySynch.Q.Sender.Configurator"/>
  </configSections>
  <senderLocator location="MySynch.Q.Sender.exe.config" sectionId="sendersSection"/>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
