<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MySynch.Q.Common" version="1.0.0-CI00007" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="3.5.0" targetFramework="net45" />
  <package id="Sciendo.Common" version="1.0.0-Build00025" targetFramework="net461" />
  <package id="Sciendo.Common.Music.Contracts" version="1.0.0-CI00004" targetFramework="net461" />
  <package id="Sciendo.IOC" version="1.0.0-Build00023" targetFramework="net461" />
  <package id="Sciendo.IOC.Configuration" version="1.0.0-Build00023" targetFramework="net461" />
  <package id="Sciendo.Playlist.Mixx.Processor" version="1.0.0-CI00013" targetFramework="net461" />
  <package id="Sciendo.Playlist.Translator" version="1.0.0-CI00009" targetFramework="net461" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.107.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.107.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.107.0" targetFramework="net461" />
  <package id="TagLib.Portable" version="1.0.4" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
</packages>