<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sender" type="MySynch.Q.Sender.SenderSection, MySynch.Q.Sender"/>
  </configSections>
  <sender localRootFolder="C:\Code\Sciendo\MySynch.Q\MySynch.Q.Sender.RootFolder">
    <queues>
      <add name="queue1" queueName="queue1" hostName="localhost"/>
      <add name="queue2" queueName="queue2" hostName="localhost"/>
      <add name="msgsForMoreThanOne" queueName="msgsForMoreThanOne" hostName="localhost"/>
      <add name="queue3" queueName="queue3" hostName="another host"/>
    </queues>
  </sender>
</configuration>