<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender>
  <file value="C:\Logs\Sciendo\MySynch.Q\Sender\Release\SciendoCoreDebug.log" xdt:Locator="Condition(@value='SciendoCoreDebug.log')" xdt:Transform="Replace"/>
  <file value="C:\Logs\Sciendo\MySynch.Q\Sender\Release\SciendoCorePerformance.log"  xdt:Locator="Condition(@value='SciendoCorePerformance.log')" xdt:Transform="Replace"/>
  <file value="C:\Logs\Sciendo\MySynch.Q\Sender\Release\SciendoCoreSystemError.log"  xdt:Locator="Condition(@value='SciendoCoreSystemError.log')" xdt:Transform="Replace"/>
  <file value="C:\Logs\Sciendo\MySynch.Q\Sender\Release\SciendoRollingFile.log"  xdt:Locator="Condition(@value='SciendoRollingFile.log')" xdt:Transform="Replace"/>
  </appender>

</log4net>