<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sender localRootFolder="C:\Users\Octo\Music" minMem="60000" xdt:Transform="Replace">
    <queues>
      <add name="queue1" queueName="queue1" hostName="EUNBH6SMTZ1" userName="user" password="user" xdt:Transform="Replace"/>
    </queues>
  </sender>

</configuration>