<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" >
	<Product Id="*" Name="MySynch.Q.Sender" Language="1033" Version="1.0.0.0" Manufacturer="Sciendo" UpgradeCode="ec0d31db-499a-4559-b071-6b1cc4f202dc">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <PropertyRef Id="NETFRAMEWORK45"></PropertyRef>
    <Property Id="SRCROOTDIRVAL" Value="C:\"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Property Id="SRCQUEUEHOSTNAME" Value="localhost"/>
    <Property Id="MINMEM" Value="0"/>
    
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
    <Condition Message='This setup requires the .NET Framework 4.5 installed.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Feature Id="MySynch.Q.Sender" Title="My Synch Queue Based Sender" Level="1" ConfigurableDirectory="INSTALLLOCATION" AllowAdvertise="no">
      <ComponentRef Id="ProgramMenuDir"/>
        <Component Id="cmp3A68FEBA27962FE316CB4DB3AE5F6733" Directory="INSTALLLOCATION" Guid="{E9743A7F-5F4C-423D-8D0D-5644B6859B6D}">
          <File Id="fil1BCB069BBFA07C79A09FF7038092F999" KeyPath="yes" Source="..\sender\log4net.config" />
        </Component>
        <Component Id="cmpBE5B605B1B980594F7B8DFE2B1457FC3" Directory="INSTALLLOCATION" Guid="{43B6ED04-C36E-4D12-85AE-584D871217CD}">
          <File Id="filA71F56093046A6EE293F06C6194A2D18" KeyPath="yes" Source="..\sender\log4net.dll" />
        </Component>
        <Component Id="cmp34F8D74E07C420692347E49EE9ED6642" Directory="INSTALLLOCATION" Guid="{D6167080-BBCA-4CFC-ADBC-7A417CE7153D}">
          <File Id="filEE83C8F868EF9F3ED1101685FB16A793" KeyPath="yes" Source="..\sender\MySynch.Q.Common.dll" />
        </Component>
        <Component Id="cmpF31C7040A3E2641BA02B7469779D9AFB" Directory="INSTALLLOCATION" Guid="{939048D8-EDAF-4868-A636-1D43B4101713}">
          <File Id="fil67F4776D7542131532AF6885E3E84C7D" KeyPath="yes" Source="..\sender\Sciendo.Common.dll" />
        </Component>
      <Component Id="cmpBF88D0995D4B4477B5CC50EFCC0669B5" Directory="INSTALLLOCATION" Guid="{BF88D099-5D4B-4477-B5CC-50EFCC0669B5}">
        <File Id="filBF88D0995D4B4477B5CC50EFCC0669B5" KeyPath="yes" Source="..\sender\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp304E3306A1574B33AACC7019DDCB7A7D" Directory="INSTALLLOCATION" Guid="{304E3306-A157-4B33-AACC-7019DDCB7A7D}">
        <File Id="fil304E3306A1574B33AACC7019DDCB7A7D" KeyPath="yes" Source="..\sender\RabbitMQ.Client.dll" />
      </Component>
      <Component Id="cmp287848F0AB75467089B91924621826CB" Directory="INSTALLLOCATION" Guid="{287848F0-AB75-4670-89B9-1924621826CB}">
        <File Id="fil287848F0AB75467089B91924621826CB" KeyPath="yes" Source="..\sender\System.Net.Http.Formatting.dll" />
      </Component>
      <Component Id="cmp6r" Directory="INSTALLLOCATION" Guid="{2F69BB77-CA02-4C0E-A31B-1FD83F43D613}">
        <File Id="fil6r" KeyPath="yes" Source="..\sender\Topshelf.dll" />
      </Component>
      <Component Id="MySynch.Q.Sender.exe.config" Directory="INSTALLLOCATION" Guid="{7C74FEB9-2A53-4E73-86A9-C1D001FEAAF5}">
        <File Id="MySynch.Q.Sender.exe.config" KeyPath="yes" Source="..\sender\MySynch.Q.Sender.exe.config" />
        <util:XmlFile Id="SetSenderRootFolder"
                      Action="setValue"
                      ElementPath="//sender/@localRootFolder"
                      Value="[SRCROOTDIRVAL]"
                      File="[#MySynch.Q.Sender.exe.config]" />
        <util:XmlFile Id="SetQueueHostName"
                Action="setValue"
                ElementPath="//sender/queues/add/@hostName"
                Value="[SRCQUEUEHOSTNAME]"
                File="[#MySynch.Q.Sender.exe.config]" />
        <util:XmlFile Id="SetMinMemory"
                      Action="setValue"
                      ElementPath="//sender/@minMem"
                      Value="[MINMEM]"
                      File="[#MySynch.Q.Sender.exe.config]" />

      </Component>
      <Component Id="MySynch.Q.Sender.Service" Directory="INSTALLLOCATION" Guid="{A57774C4-F4E5-4E14-9B4B-09C8BD6EFCAC}">
        <File Id="MySynch.Q.Sender.exe" Name="MySynch.Q.Sender.exe" Source="..\sender\MySynch.Q.Sender.exe" Vital="yes" KeyPath="yes"/>
        <ServiceInstall
          Id="SenderServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="MySynch.Q.Sender"
          DisplayName="MySynch Queue Sender"
          Description="Monitores folder [SRCROOTDIRVAL] and publishes any changes to all the queues at the *@[SRCQUEUEHOSTNAME]."
          Start="auto"
          Account="NT Authority\NetworkService"
          ErrorControl="ignore"
          Interactive="no">
        </ServiceInstall>
        <ServiceControl Id="StartSenderService" Start="install" Stop="both" Remove="uninstall" Name="MySynch.Q.Sender" Wait="yes" />
      </Component>
      <ComponentRef Id="LOGS"/>
    </Feature>
  </Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Sciendo" Name="Sciendo">
          <Directory Id="MySynch.Q" Name="MySynch.Q">
            <Directory Id="INSTALLLOCATION" Name="Sender">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="MySynch.Q.Sender">
          <Component Id="ProgramMenuDir" Guid="{26F451D3-B079-4BBD-80BE-0E836BE7C34E}">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Sciendo\MySynch.Q" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="LOGS" Name="Logs">
        <Directory Id="SciendoLogs" Name ="Sciendo">
          <Directory Id="MySynch.Q.Logs" Name="MySynch.Q">
            <Directory Id ="Sender.Logs" Name="Sender">
              <Directory Id="Release.Logs" Name="Release">
                <Component Id="LOGS" Guid="{2910639A-CC21-40C0-9B92-62A2BF55AEC3}"
                SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no"
                Win64="no" Location="either">
                  <CreateFolder/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <UI Id="MyWixUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Advanced" />
      <Dialog Id="SrcDirDlg" Width="370" Height="270" Title="Source Root Folder selection">
        <Control Id="PathEdit" Type="PathEdit" X="25" Y="202" Width="320" Height="18" Property="VALTEMP" />
        <Control Id="OK" Type="PushButton" X="240" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUIOK)">
          <Publish Property="SRCROOTDIRVAL" Value="[VALTEMP]" Order="1">1</Publish>
          <Publish Event="EndDialog" Value="Return" Order="2">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="ComboLabel" Type="Text" X="25" Y="58" Width="44" Height="10" TabSkip="no" Text="!(loc.BrowseDlgComboLabel)" />
        <Control Id="DirectoryCombo" Type="DirectoryCombo" X="70" Y="55" Width="220" Height="80" Property="VALTEMP" Fixed="yes" Remote="yes">
          <Subscribe Event="IgnoreChange" Attribute="IgnoreChange" />
        </Control>
        <Control Id="WixUI_Bmp_Up" Type="PushButton" X="298" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgWixUI_Bmp_UpTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgWixUI_Bmp_Up)">
          <Publish Event="DirectoryListUp" Value="0">1</Publish>
        </Control>
        <Control Id="NewFolder" Type="PushButton" X="325" Y="55" Width="19" Height="19" ToolTip="!(loc.BrowseDlgNewFolderTooltip)" Icon="yes" FixedSize="yes" IconSize="16" Text="!(loc.BrowseDlgNewFolder)">
          <Publish Event="DirectoryListNew" Value="0">1</Publish>
        </Control>
        <Control Id="DirectoryList" Type="DirectoryList" X="25" Y="83" Width="320" Height="98" Property="VALTEMP" Sunken="yes" TabSkip="no" />
        <Control Id="PathLabel" Type="Text" X="25" Y="190" Width="320" Height="10" TabSkip="no" Text="!(loc.BrowseDlgPathLabel)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.BrowseDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="This is going to be used by queue sender" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Select a folder" />
      </Dialog>

      <Dialog Id="MySynchDlg" Width="370" Height="270"
               Title="Settings - [ProductName]" NoMinimize="yes">

        <!-- Virtual Dir prompt -->
        <Control Id="RootDirLabel" Type="Text" X="45" Y="73" Width="100" Height="15" TabSkip="no" Text="&amp;Sender Root Directory:"/>
        <Control Id="RootDirPathValue" Type="PathEdit" X="45" Y="85" Width="215" Height="18" Property="SRCROOTDIRVAL"/>
        <Control Id="RootDirPathButton" Type="PushButton" X="270" Y="85" Width="50" Height="17" Text="Browse">
          <Publish Property="VALTEMP" Value="[SRCROOTDIRVAL]" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="SrcDirDlg" Order="2">1</Publish>
        </Control>
        <!-- Queue Host Name prompt-->
        <Control Id="QueueHostNameLabel" Type ="Text" X="45" Y="103" Width="100" Height="15" TabSkip="no" Text="&amp;Queue Host Name:"/>
        <Control Id="QueueHostNameValue" Type ="Edit" X="45" Y="118" Width="215" Height="18" Property="SRCQUEUEHOSTNAME"/>

        <!-- Min Mem prompt-->
        <Control Id="MinMemLabel" Type ="Text" X="45" Y="136" Width="100" Height="15" TabSkip="no" Text="&amp;Minimum memory on the Queue Host:"/>
        <Control Id="MinMemValue" Type ="Edit" X="45" Y="151" Width="215" Height="18" Integer="yes" Property="MINMEM"/>
        
        <!-- Back button -->
        <Control Id="Back" Type="PushButton" X="180" Y="243"
                Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243"
               Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">
            <!--if settings are correct, allow next dialog-->
            <![CDATA[SRCROOTDIRVAL <> ""]]>
          </Publish>
          <Publish Property="SRCROOTDIRVAL" Value="[SRCROOTDIRVAL]"></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243"
                   Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0"
             Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23"
               Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Please enter Source Root Configuration</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234"
              Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6"
                Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}MySynch Queue Sender Configuration</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      </Dialog>


      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="1">Installed AND PATCH</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="MySynchDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MySynchDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

    </UI>
    <UIRef Id="WixUI_Common" />

  </Fragment>
</Wix>