<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="locatorsSection" type="MySynch.Q.Common.Configurators.Configuration.ConfigurationLocatorSection, MySynch.Q.Common"/>
  </configSections>
  <locatorsSection>
    <locators>
      <add sectionId="sendersSection" location="MySynch.Q.Sender.exe.config" serviceName="MySynch.Q.Sender"/> 
    </locators>
  </locatorsSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
