<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="locatorsSection" type="MySynch.Q.Common.Configurators.Configuration.ConfigurationLocatorSection, MySynch.Q.Common"/>
  </configSections>
  <locatorsSection>
    <locators>
      <add sectionId="receiversSection" location="MySynch.Q.Receiver.exe.config"/>
      <add sectionId="playlistTranslatorSection" location="MySynch.Q.Receiver.exe.config"/>
    </locators>
  </locatorsSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
