<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sender" type="MySynch.Q.Sender.SenderSection, MySynch.Q.Sender"/>
  </configSections>
  <sender localRootFolder="C:\Code\Sciendo\MySynch.Q\MySynch.Q.Sender.RootFolder">
    <queues>
      <add name="queue1" queueName="queue1" hostName="media-centre" userName="test" password="test"/>
    </queues>
  </sender>
</configuration>